[submodule "backend"]
	path = backend
	url = https://github.com/RCAgen1/backend.git
[submodule "agents"]
	path = agents
	url = https://github.com/RCAgen1/agents.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/RCAgen1/frontend.git
[submodule "linux_binary"]
	path = linux_binary
	url = https://github.com/RCAgen1/linux_binary.git
